<p 
    class="text-center"
    *ngFor="let item of uploader.queue"
    >
    File Name: <b>{{ item?.file?.name }}</b>
</p>
<div class="upload-input">
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroupFileAddon01">Certificado</span>
            </div>
            <div class="custom-file">
                <input 
                    type="file" 
                    class="custom-file-input" 
                    id="inputGroupFile01"
                    aria-describedby="inputGroupFileAddon01"
                    name = "upload_certificate"
                    ng2FileSelect [uploader]="uploader" 
                >
                <label class="custom-file-label text-left" for="inputGroupFile01">Choose file</label>
            </div>
        </div>
        <button type="button" class="btn submit examine" 
            (click)="item.upload()"
            *ngFor = "let item of uploader.queue"
            >
            Examinar
        </button>
    </div>