<div class="container">
    <div class="progress-bar">
        <ul class="list-unstyled multi-steps">
            <li [class.is-active]="router.url === '/'"><span>Aceptar Condiciones y Código de Compra</span></li>
            <li [class.is-active]="router.url === '/upload-certificate'"><span>Validación de certificado</span></li>
            <li [class.is-active]="router.url === '/user-profile'"><span>Datos usuario</span></li>
            <li [class.is-active]="router.url === '/CertificateDelivery'"><span>Entrega de certificado</span></li>
        </ul>
    </div>
</div>