<div class="container">
    <div class="progress-bar">
        <ul class="list-unstyled multi-steps">
            <li [class.is-active]="router.url === '/'"><span>Aceptar Condiciones y Código de Compra</span></li>
            <li [class.is-active]="router.url === '/upload-certificate'"><span>Lorem, ipsum...</span></li>
            <li [class.is-active]="router.url === '/user-profile'"><span>Lorem, ipsum...</span></li>
            <li [class.is-active]="router.url === '/generate-cirtificate'"><span>Lorem, ipsum...</span></li>
        </ul>
    </div>
</div>